In [ ]:
Find the mean, and median of the data frame below?
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','Chanchal','Gasper','Naviya','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}


Find the mode of the data frame
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','Chanchal','Gasper','Naviya','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}


harmonic_mean()This function returns the harmonic mean of the data. 
For three values [2,4,9.7] find out the harmonic mean



Consider the ages of five employees as 30, 30, 32, 38, 60 years. Calculate the measures of central tendency.



A batsman scores an average of 48 runs in six matches. If his score in five matches is 51, 45,46, 44, and 49.
Find his score in the sixth match?

In [3]:
import pandas as pd
#Create a DataFrame
#d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','Chanchal','Gasper','Naviya','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}



df = pd.DataFrame(d)

#Find the mean
mean_rating = df['Rating'].mean()
print("Mean of Ratings is:", mean_rating)

#Find the median
median_rating = df['Rating'].median()
print("Median of Ratings is:", median_rating)

Mean of Ratings is: 3.7433333333333336
Median of Ratings is: 3.79

In [4]:
df = pd.DataFrame(d)

df.mode()

#     Name  Age  Rating
# 0   Jack   23    3.65

        Name   Age  Rating
0     Andres  23.0    2.56
1   Chanchal  25.0    2.98
2     Gasper  30.0    3.20
3       Jack   NaN    3.24
4      James   NaN    3.65
5        Lee   NaN    3.78
6     Naviya   NaN    3.80
7      Ricky   NaN    3.98
8      Smith   NaN    4.10
9      Steve   NaN    4.23
10       Tom   NaN    4.60
11       Vin   NaN    4.80

In [5]:
import statistics

data = [2,4,9.7]

harmonic_mean = statistics.harmonic_mean(data)

print(harmonic_mean) # Output: 4.12

3.516616314199396

In [12]:
import numpy as np 
import statistics as stats

age = np.array([30, 30, 32, 38, 60]) 

mean = np.mean(age) 

median = np.median(age) 

mode = stats.mode(age) #x = stats.mode(speed)

print("Mean :", mean) 
print("Median :", median) 
print("Mode :", mode)

Mean : 38.0
Median : 32.0
Mode : 30

In [13]:
import statistics

scores = [51,45,46,44,49]

avg = statistics.mean(scores)

sixth_match = 48 - avg

print(sixth_match)

1