In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data= sns.load_dataset("tips")
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# In sns package we have datasets are there
#In sklearn also we have datasets
# Ml repository
#Analystics vidhya

**Normilization**

#<img src="https://cdn.wallstreetmojo.com/wp-content/uploads/2019/05/Normalization-Formula.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Normalization Formula | Step By Step Guide with Calculation Examples" data-noaft="1" style="width: 275.436px; height: 124px; margin: 0px;">

In [ ]:
# step:1 calcaulate maximum value
# step:2 calcuate minimum value
# step:3 apply the formula

In [4]:
# step:1 Find the max value on the total_bill
x_max=data['total_bill'].max()
# step:2 Find min value
x_min=data['total_bill'].min()

print('x_max:',x_max)
print('x_min:',x_min)

x_max: 50.81
x_min: 3.07

In [10]:
data['total_bill_norm']=(data['total_bill']-x_min)/(x_max-x_min)

In [11]:
data.head()

,total_bill,tip,sex,smoker,day,time,size,total_billg_norm,total_bill_norm
0,16.99,1.01,Female,No,Sun,Dinner,2,0.291579,0.291579
1,10.34,1.66,Male,No,Sun,Dinner,3,0.152283,0.152283
2,21.01,3.50,Male,No,Sun,Dinner,3,0.375786,0.375786
3,23.68,3.31,Male,No,Sun,Dinner,2,0.431713,0.431713
4,24.59,3.61,Female,No,Sun,Dinner,4,0.450775,0.450775

In [12]:
data[['total_bill']].idxmax()
# id of maximum value is 170

total_bill    170
dtype: int64

In [15]:
data[['total_bill']].idxmin()
 # id of min value is 67

total_bill    67
dtype: int64

In [13]:
data[['total_bill_norm']].idxmax()

total_bill_norm    170
dtype: int64

In [17]:
data.iloc[[67,170]]

,total_bill,tip,sex,smoker,day,time,size,total_billg_norm,total_bill_norm
67,3.07,1.0,Female,Yes,Sat,Dinner,1,0.0,0.0
170,50.81,10.0,Male,Yes,Sat,Dinner,3,1.0,1.0

$standarzation$

<img src="https://www.simplypsychology.org/Z-score-formula.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb KAlRDb" alt="Z-Score: Definition, Calculation &amp; Interpretation - Simply Psychology" data-noaft="1" style="width: 151.944px; height: 124px; margin: 0px;">

In [26]:
x_mean=data['total_bill'].mean()
stnd=data['total_bill'].std()
print("x_mean:",x_mean)
print("stand:",stnd)

x_mean: 19.785942622950824
stand: 8.902411954856856

In [28]:
data['total_bill_stand']=(data['total_bill']-x_mean)/stnd
data.head()

,total_bill,tip,sex,smoker,day,time,size,total_billg_norm,total_bill_norm,total_bill_stand
0,16.99,1.01,Female,No,Sun,Dinner,2,0.291579,0.291579,-0.314066
1,10.34,1.66,Male,No,Sun,Dinner,3,0.152283,0.152283,-1.061054
2,21.01,3.50,Male,No,Sun,Dinner,3,0.375786,0.375786,0.137497
3,23.68,3.31,Male,No,Sun,Dinner,2,0.431713,0.431713,0.437416
4,24.59,3.61,Female,No,Sun,Dinner,4,0.450775,0.450775,0.539635

In [29]:
data['total_bill_stand'].mean()
data['total_bill_stand'].std()

1.0

# Using packages

- these all comes under preprocessing
- we have preprocessing class in sklearn module

- step:1 import package
- step:2 it is a class object store in a one variable
- step:3 apply fit_tranform

In [30]:
data=sns.load_dataset("tips")

from sklearn.preprocessing import MinMaxScaler # step:1
mms=MinMaxScaler()#step:2
data["total_billg_normal"]=mms.fit_transform(data[['total_bill']]) # step:3

In [31]:
data.head()

   total_bill   tip     sex smoker  day    time  size  total_billg_normal
0       16.99  1.01  Female     No  Sun  Dinner     2            0.291579
1       10.34  1.66    Male     No  Sun  Dinner     3            0.152283
2       21.01  3.50    Male     No  Sun  Dinner     3            0.375786
3       23.68  3.31    Male     No  Sun  Dinner     2            0.431713
4       24.59  3.61  Female     No  Sun  Dinner     4            0.450775

In [36]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
data["total_billg_normalsd"]=ss.fit_transform(data[['total_bill']])

In [37]:
data.head()

,total_bill,tip,sex,smoker,day,time,size,total_billg_normal,total_billg_normalsd
0,16.99,1.01,Female,No,Sun,Dinner,2,-0.314711,-0.314711
1,10.34,1.66,Male,No,Sun,Dinner,3,-1.063235,-1.063235
2,21.01,3.50,Male,No,Sun,Dinner,3,0.137780,0.137780
3,23.68,3.31,Male,No,Sun,Dinner,2,0.438315,0.438315
4,24.59,3.61,Female,No,Sun,Dinner,4,0.540745,0.540745