In [1]:
list1=[1,2,3,4] # represent in square brackets
list1

[1, 2, 3, 4]

In [2]:
type(list1)

list

In [3]:
list1=[1,1,2,2,3,3,4,4,4]
list1 # list can be duplicates

[1, 1, 2, 2, 3, 3, 4, 4, 4]

In [13]:
list2=['apple','Bannana','cherry',120,130,40.6,8.9]
# strings,int,float,complex,bool

In [5]:
list2

['apple', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

- Elements are enclosed in [] paranthisis
- Elements are seperated by comma
- list can have duplicates
- list can have heterogenous(can have different data types)
- list multiplication not possible
- list concatination is poosible
- list is mutable
- max min possible for only intteger list and only for string list
- max min not possible for a list having both int and string
- list slicing indexing possible 
- list in list possible

$ index $

In [11]:
list3='python'
list3[0]

'p'

In [14]:
list2

['apple', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [15]:
list2[0]

'apple'

In [16]:
list2[4]

130

$len$

In [17]:
string='python'

In [18]:
len(string)

6

In [19]:
len(list2)

7

In [22]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$max$-$min$

In [24]:
list1

[1, 1, 2, 2, 3, 3, 4, 4, 4]

In [26]:
max(list1),min(list1)

(4, 1)

In [27]:
list2

['apple', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [28]:
max(list2) # not supported between instances of 'int' and 'str'

TypeError: '>' not supported between instances of 'int' and 'str'

In [31]:
list3=['Apple','Banana','Cherry','Orange']
max(list3),min(list3) # ASCII value it will take.

('Orange', 'Apple')

$ord$-$chr$

In [32]:
ord('A') # ord will give ascii value of charcters/symbols

65

In [33]:
chr(65)# chr will give charcter/symbols when we provide ascii value

'A'

In [34]:
for i in range(65,100):
    print(chr(i),'------>',i)

A ------> 65
B ------> 66
C ------> 67
D ------> 68
E ------> 69
F ------> 70
G ------> 71
H ------> 72
I ------> 73
J ------> 74
K ------> 75
L ------> 76
M ------> 77
N ------> 78
O ------> 79
P ------> 80
Q ------> 81
R ------> 82
S ------> 83
T ------> 84
U ------> 85
V ------> 86
W ------> 87
X ------> 88
Y ------> 89
Z ------> 90
[ ------> 91
\ ------> 92
] ------> 93
^ ------> 94
_ ------> 95
` ------> 96
a ------> 97
b ------> 98
c ------> 99

A - 65
B - 66
C - 67
D - 68
E - 69
F - 70
G - 71
H - 72
I - 73
J - 74
K - 75
L - 76
M - 77
N - 78
O - 79
P - 80
Q - 81
R - 82
S - 83
T - 84
U - 85
V - 86
W - 87
X - 88
Y - 89
Z - 90
[ - 91
\ - 92
] - 93
^ - 94
_ - 95
` - 96
a - 97
b - 98
c - 99

$mutable$-$immutable$

In [39]:
list2

['apple', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [41]:
list2[0]='Diary'

In [42]:
list2
# lists are mutable 
# we can change the list values by using index.

['Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [45]:
for i in range(len(list2)):
    print(list2[i])

Diary
Bannana
cherry
120
130
40.6
8.9

In [46]:
num=len(list2)
for i in range(num):
    print(" {} is index of {}.".format(i,list2[i]))

 0 is index of Diary.
 1 is index of Bannana.
 2 is index of cherry.
 3 is index of 120.
 4 is index of 130.
 5 is index of 40.6.
 6 is index of 8.9.

In [49]:

i=0
while i<num:
    print(" {} is index of {}.".format(i,list2[i]))
    i+=1

 0 is index of Diary.
 1 is index of Bannana.
 2 is index of cherry.
 3 is index of 120.
 4 is index of 130.
 5 is index of 40.6.
 6 is index of 8.9.

In [50]:
for i in range(num):
    print(i,end=' ')

0 1 2 3 4 5 6

In [51]:
i=0 # iniciliazatiojn
while i<num: # conditionn
    print(i,end=' ') # print in loop
    i+=1 # increment

0 1 2 3 4 5 6

$concatination$

In [52]:
list1

[1, 1, 2, 2, 3, 3, 4, 4, 4]

In [53]:
list2

['Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [54]:
list1+list2

[1, 1, 2, 2, 3, 3, 4, 4, 4, 'Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [55]:
list1*list2 #can't multiply sequence by non-int of type 'list'

TypeError: can't multiply sequence by non-int of type 'list'

In [57]:
print(list1*3,end=' ')

[1, 1, 2, 2, 3, 3, 4, 4, 4, 1, 1, 2, 2, 3, 3, 4, 4, 4, 1, 1, 2, 2, 3, 3, 4, 4, 4]

In [58]:
list2

['Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [60]:
'Diary' in list2

True

In [61]:
'Diary' in list2 # True
'Bannana'in list2 # True
'cherry'in list2 # True

True

In [62]:
for i in list2:
    print(i)

Diary
Bannana
cherry
120
130
40.6
8.9

$slicing$

In [64]:
list2

['Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9]

In [73]:
list3=['Ball','Apple','Cat','Doll']

In [74]:
list4=list2+list3

In [75]:
print(list4,end=' ')

['Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9, 'Ball', 'Apple', 'Cat', 'Doll']

In [76]:
print(list4[2:10])      
print(list4[2:11:2])
print(list4[2:11:-2])
print(list4[2:-11:-2])
print(list4[-2:-11:-2])
print(list4[-2:11:2])
print(list4[-2:11:-2])
print(list4[-2:-11:2])
print(list4[11:2:2])
print(list4[11:2:-2])
print(list4[11:-2:-2])
print(list4[-11:-2:-2])
print(list4[-11:-2:2])

['cherry', 120, 130, 40.6, 8.9, 'Ball', 'Apple', 'Cat']
['cherry', 130, 8.9, 'Apple', 'Doll']
[]
['cherry']
['Cat', 'Ball', 40.6, 120, 'Bannana']
['Cat']
[]
[]
[]
['Doll', 'Apple', 8.9, 130]
['Doll']
[]
['Diary', 'cherry', 130, 8.9, 'Apple']

$ Methods-in-list $

- append

In [77]:
# you want add a new element
# chennai
list2.append('chennai')

In [78]:
list2

['Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9, 'chennai']

In [79]:
list2.append('Movie')
list2.append('sports')

In [81]:
print(list2,end=' ')

['Diary', 'Bannana', 'cherry', 120, 130, 40.6, 8.9, 'chennai', 'Movie', 'sports']

In [82]:
num=[] # empty list
for i in range(7):
    num.append(i) 

    # i want save the value in a llist

In [83]:
num

[0, 1, 2, 3, 4, 5, 6]

In [91]:
num=[]
for i in range(1,6):
    num.append(i*i)
print(num)

[1, 4, 9, 16, 25]

$ LIST-Comprehesion $

- IT will improve fastness of your code.

In [93]:
num=[i for i in range(6)]
num

[0, 1, 2, 3, 4, 5]

In [94]:
#       out. for i .......
square=[i*i for i in range(1,6)]
square

[1, 4, 9, 16, 25]

In [104]:
even=[]
for i in range(20,41):
    if i%2==0:
        even.append(i)

In [ ]:
# LC  ------> for loop
[i for i in range(1,10)]
#LC -------> for loop if 
[i for i in range(1,10) if condition]
# LC ------> if else
[o/p if condition else o/p for loop]

In [105]:
even

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [106]:
even=[i for i in range(20,41)if i%2==0]
even

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [118]:
even_odd=['even' if i%2==0 else 'odd' for i in range(20,41)]
print(even_odd,end=' ')

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [65]:
even_odd=[]
for i in range(20,40):
    if i%2==0:
        even_odd.append("even")
        
    else:
        even_odd.append("odd")

In [66]:
even_odd

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

$ copy $

In [3]:
number=[2,3,6,9,10]

In [4]:
even_number=number.copy()

In [5]:
even_number

[2, 3, 6, 9, 10]

In [6]:
number.clear()

In [8]:
even_number

[2, 3, 6, 9, 10]

In [11]:
even_number.index(3)

1

$ extend $

In [45]:
A=['apple','ball','cat','dog']
B=[1,2,3,4]

In [37]:
C=A+B

In [38]:
print(C)

['apple', 'ball', 'cat', 'dog', 1, 2, 3, 4]

In [40]:
A.extend(B)

In [41]:
A

['apple', 'ball', 'cat', 'dog', 1, 2, 3, 4, 1, 2, 3, 4]

In [46]:
B.extend(A)
print(B)

[1, 2, 3, 4, 'apple', 'ball', 'cat', 'dog']

$ insert $

In [51]:
vowel=['a','e','i','o',]
vowel.append('u')

In [ ]:
vowels=['a','e','i','u']
# o is missed
# if i want to append 'o' in my vowels list
vowels.append('o')
# in append method element added at the last index of list

In [ ]:
#['a','e','i','o','u']
# I want add the element at specific place
vowels=['a','e','i','u'] # python index starts with zero
# I want at index 3 ,'o' should be there
vowels.insert(3,'o') #shift+tab inside the ()
#after 'a' insert 'A'
vowels.insert(1,'A')

In [52]:
vowel

['a', 'e', 'i', 'o', 'u']

In [54]:
# insert method is use for inserstion...
vowel.insert(4,'j')

In [55]:
vowel

['a', 'e', 'i', 'o', 'j', 'u']

In [2]:
vowels=['a','e','i','u']
vowels
# after 'i', want to insert 'o'
# you need to get index 3 by index method
num=vowels.index('i')          # 3 by using index method
print(num)
vowels.insert(num+1,'o')
print(vowels)

2
['a', 'e', 'i', 'o', 'u']

$ count $

In [3]:
number=[1,2,1,1,1,3,3,3,4,4,4,4,4,5,5,6,6,6,6,6,7]
number.count(1)

4

In [11]:
# create a list of 50 random numbers between 1,100
from random import randint
random_list=[]
for i in range(50):
    random_list.append(randint(1,100))

print(random_list)

[48, 15, 18, 93, 85, 72, 62, 60, 43, 17, 13, 92, 32, 72, 8, 74, 80, 85, 52, 6, 83, 73, 28, 63, 59, 40, 22, 96, 4, 57, 61, 12, 88, 6, 36, 49, 33, 71, 13, 3, 13, 8, 76, 64, 48, 91, 8, 11, 44, 14]

In [35]:
random_list1=[randint(10,100) for i in range(50)]
print(random_list1)

[85, 43, 25, 10, 86, 58, 12, 90, 10, 34, 59, 64, 27, 20, 61, 98, 12, 89, 57, 54, 91, 68, 92, 75, 65, 21, 55, 46, 89, 12, 19, 10, 67, 34, 94, 30, 16, 71, 60, 59, 27, 32, 96, 36, 88, 74, 27, 98, 68, 63]

In [33]:
random_list1.count(92)
# in entire random list we have 50 random numbers

In [36]:
for i in random_list1:
    print("{} is repated {} times".format(i,random_list1.count(i)))

85 is repated 1 times
43 is repated 1 times
25 is repated 1 times
10 is repated 3 times
86 is repated 1 times
58 is repated 1 times
12 is repated 3 times
90 is repated 1 times
10 is repated 3 times
34 is repated 2 times
59 is repated 2 times
64 is repated 1 times
27 is repated 3 times
20 is repated 1 times
61 is repated 1 times
98 is repated 2 times
12 is repated 3 times
89 is repated 2 times
57 is repated 1 times
54 is repated 1 times
91 is repated 1 times
68 is repated 2 times
92 is repated 1 times
75 is repated 1 times
65 is repated 1 times
21 is repated 1 times
55 is repated 1 times
46 is repated 1 times
89 is repated 2 times
12 is repated 3 times
19 is repated 1 times
10 is repated 3 times
67 is repated 1 times
34 is repated 2 times
94 is repated 1 times
30 is repated 1 times
16 is repated 1 times
71 is repated 1 times
60 is repated 1 times
59 is repated 2 times
27 is repated 3 times
32 is repated 1 times
96 is repated 1 times
36 is repated 1 times
88 is repated 1 times
74 is repated 1 times
27 is repated 3 times
98 is repated 2 times
68 is repated 2 times
63 is repated 1 times

$$ remove $$

In [60]:
# take a list of some elements
# apply remove method
list1=[1,2,3,1,2,3]

In [66]:
list1=[1,2,3,1,2,3]
list1.remove(3)
print(list1)

[1, 2, 1, 2, 3]

$ pop $

In [68]:
list1=[1,2,3,1,2,3]
# you can remove the element by using index
# in remove method only first occurence element is removing
# that problem can avoid by using pop method
# at 4th index we have 2 value
list1.pop(4)

2

In [ ]:
# you cant remove all the repeated element in a list by using list conepets
# copy ========== clear
# append ======= insert
# remove ======= pop
# index ======== count

In [69]:
list1=[1,2,3,4]

In [70]:
list2=[1,2,3,4,'Apple',['B',10,'D']]            # list in list

In [71]:
l=list2[5]

In [72]:
l[0]

'B'

In [73]:
list2[5][0]

'B'

$ reverse $

In [74]:
# try your self
a=[1,2,'python']
a.reverse()

In [75]:
a

['python', 2, 1]

$ sort $

- You can sort the elements

- by ascending order/descending order

In [76]:
ele=[1,50,100,25,67,89,9]

In [79]:
ele.sort() # ascending order

In [80]:
ele  # ascending order 
# inside function 
# it consider reverse=False as default value

[1, 9, 25, 50, 67, 89, 100]

In [81]:
ele.sort(reverse=True)
ele # descending order

[100, 89, 67, 50, 25, 9, 1]

$ split - join $

In [82]:
string1='hai how are you'
# here every word seperated by space
# hai ----> how ----> are ----> you
words=string1.split(' ')  # list of words

In [83]:
words 
# if you want join back as same as string1

['hai', 'how', 'are', 'you']

In [87]:
' '.join(words)

'hai how are you'

In [ ]:
# you want conductiing one exam
# list of questions 
# list of Answers
# how many are right answers

In [95]:
questions=['What is the capital of india:',
          'How many states in india:',
          'Who is president of india:']

answers=['Delhi','29','Murmu']

right_answer=0

for i in range(len(questions)):
    gusse=input(questions[i])
    
    if gusse.lower()==answers[i].lower():
        print('correct')
        right_answer+=1
        
    else:
        print('wrong,the correct answer is:',answers[i])
    
        
print('You have {} correct answers'.format(right_answer))

What is the capital of india:fg
wrong,the correct answer is: Delhi
How many states in india:gg
wrong,the correct answer is: 29
Who is president of india:rttg
wrong,the correct answer is: Murmu
You have 0 correct answers

In [ ]:
list1=[1,10,16,18]
list1[1]>=list1[2]

In [ ]:
# he wants to takes list of numbers from user
# some pos numbers
# zeros 
# and some negative number
# objective: how much percentage of pos number in a list
#.          how much precentage of neg number in a list
#.           how much precentage of zero in a list 

# function
# try-execpt

In [134]:
def numPercInList():
    list1=[]
    n = int(input("Enter number of elements : "))
    postive_count=0
    neg_count=0
    zero_count=0
    for i in range(0,n): 
        evl=int(input())
        list1.append(evl)
    print(list1)

    for i in range(len(list1)):
        if(list1[i]==0):
            zero_count+=1
        elif (list1[i]>0):
            postive_count+=1
        else:
            neg_count+=1



    print("postive num precentage is ",(postive_count/len(list1))*100,"%")
    print("negative num precentage is ",(neg_count/len(list1))*100,"%")
    print("zero num precentage is ",(zero_count/len(list1))*100,"%")

In [136]:
numPercInList()

Enter number of elements : 2
-1
2
[-1, 2]
postive num precentage is  50.0 %
negative num precentage is  50.0 %
zero num precentage is  0.0 %

In [ ]:
# clear and copy ============== > list

In [ ]:
dic={key:value,key:valuue}.....