In [1]:
def sqaure(x):
    return (x*x)

In [3]:
value=sqaure(2)

In [4]:
print(value)

4

In [8]:
value1=lambda x:x*x
value1(4)

16

- lambda is a function call we can write in a single expression
- start with lambda keyword
- lambda x--> here x is a argument
- lambda argument:statement
- there is no name
- There is def,return

In [10]:
def add(a,b):
    return(a+b)

In [11]:
value=add(10,20)
value

30

In [12]:
valu_1=lambda a,b:a+b

In [13]:
valu_1(20,30)

50

In [ ]:
# suppose if i want tom create a function
# to identify max value btween two number

In [26]:
def maximum(a,b):
    if a<b:
        return(b)
    else:
        return(a)

In [29]:
max_val=maximum(30,20)
max_val

30

In [30]:
max_val_1=lambda a,b:a if a>b else b

In [31]:
max_val_1(20,30)

30

In [52]:
list1=[]
def maximum(a,b):
    if a<b:
        list1.append(b)
    else:
        list1.append(a)

In [53]:
maximum(10,30)

In [54]:
list1

[30]

In [55]:
list1=[1,2,3,4]
for i in list1:
    print(i*2)

2
4
6
8

In [57]:
list2=[i*2 for i in list1]
list2

[2, 4, 6, 8]

In [59]:
# lambda function

list(lambda x:x*2 for i in list1)

[<function __main__.<genexpr>.<lambda>(x)>,
 <function __main__.<genexpr>.<lambda>(x)>,
 <function __main__.<genexpr>.<lambda>(x)>,
 <function __main__.<genexpr>.<lambda>(x)>]

$ map $

In [60]:
list1=[1,2,3,4]
list2=list(map(lambda x:x*2,list1))

In [61]:
list2

[2, 4, 6, 8]

In [ ]:
map(lambda_expression,sequence)

In [68]:
strings=['winter','is','coming']
list4=list(map(lambda x:x.upper()+'!!!',strings))

In [69]:
list4

['WINTER!!!', 'IS!!!', 'COMING!!!']

In [71]:
num1=[1,2,3]
num2=[10,20,30]

In [73]:
list3=[]
for i,j in zip(num1,num2):
    list3.append(i+j)
    
print(list3)

[11, 22, 33]

In [77]:
lamda=list(map(lambda num1,num2:num1+num2,num1,num2))

In [78]:
lamda

[11, 22, 33]

In [11]:
list1=['apple','bannana','car','bat','dag']
# I need items those Lengths grater than 3
# 'apple' 'bannana'

In [15]:
items=[]
for i in list1:
    if len(i)>3:
        items.append(i)
        
items

['apple', 'bannana']

In [90]:
items=list(filter(lambda x:len(x)>3,list1))
items

['apple', 'bannana']

In [92]:
list2=[2,3,6]
values=list(map(lambda x:x*x,list2))
values

[4, 9, 36]

In [98]:
val=lambda x:x*x
val(3)

9

In [9]:
# to print only even number
even_num=[i for i in range(1,20)]
even_result=tuple(filter(lambda x:x%2==0,even_num))

In [10]:
even_result

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [103]:
list1=['hello','world','thi#s','is','omka#r']


list22=tuple(filter(lambda x:'#'in x,list1 ))
list22

('thi#s', 'omka#r')