## strings

In [8]:
s='python'
t="hello"
str1="""helo 
     omakar"""

In [4]:
s

'python'

In [5]:
t

'hello'

In [6]:
str1

'"helo \n     omakar'

In [9]:
print(str1)

helo
     omakar

In [18]:
p='i like "pyton"'
h="i like 'python'"

print(p)
print(h)

i like "pyton"
i like 'python'

In [20]:
string1="i like python"
len(string1)

13

In [1]:
input()  # string type

4

'4'

$ Indexing $

In [24]:
s='python'
len(s)

6

In [25]:
s[0] 

# i can call a letter by using index.
# in python index start with zero.

'p'

In [31]:
name="sheelander"
print(name[4])
print(name[-5])

l
a

In [39]:
string='python'

for i in range(0,6):
    print("{} index is {}".format(string[i],i))

p index is 0.
y index is 1.
t index is 2.
h index is 3.
o index is 4.
n index is 5.

In [12]:
hin="hindi is the part of our life"
num=len(hin)
for i in range(0,num):
    print("{} index is {} ".format(hin[i],i))

h index is 0
i index is 1
n index is 2
d index is 3
i index is 4
  index is 5
i index is 6
s index is 7
  index is 8
t index is 9
h index is 10
e index is 11
  index is 12
p index is 13
a index is 14
r index is 15
t index is 16
  index is 17
o index is 18
f index is 19
  index is 20
o index is 21
u index is 22
r index is 23
  index is 24
l index is 25
i index is 26
f index is 27
e index is 28

In [14]:
string=input("enter the string")
num=len(string)
for i in range(0,num):
    print(string[i],i)

enter the stringhfjwejfgeb
h 0
f 1
j 2
w 3
e 4
j 5
f 6
g 7
e 8
b 9

In [59]:
try:
    string=input("enter the string:")
    num=len(string)
    for i in range(0,num1):
        print("{} index is {}".format(string[i],i))
        
except Exception as e:
    print("error occured:",e)

enter the string:hhhhh
error occured: name 'num1' is not defined

In [62]:
def string():  # without arguments.
    try:
        string=input("enter the string:")
        num=len(string)
        for i in range(0,num):
            print("{} index is {}".format(string[i],i))

    except Exception as e:
        print("error occured:",e)

In [63]:
string()

enter the string:hi
h index is 0
i index is 1

In [65]:
def string(string):  # with arguments.
    try:
        num=len(string)
        for i in range(0,num):
            print("{} index is {}".format(string[i],i))

    except Exception as e:
        print("error occured:",e)
        
string('india')

i index is 0
n index is 1
d index is 2
i index is 3
a index is 4

In [79]:
string='python'
for i in range(0,len(string)):
    print("{} pos index is {} and neg imdex is {}".format(string[i],i,i-len(string)))

p pos index is 0 and neg imdex is -6
y pos index is 1 and neg imdex is -5
t pos index is 2 and neg imdex is -4
h pos index is 3 and neg imdex is -3
o pos index is 4 and neg imdex is -2
n pos index is 5 and neg imdex is -1

In [ ]:
## Membership operator... in

In [ ]:
s='python'

'p' in s------->T
'y'in s------->T

In [82]:
for i in s:
    print(i,end=' ')
    
    # in operator will take direct letter

p y t h o n

In [ ]:
# range------> number---->index
# in-----> direct

In [83]:
for i in range(0,len(s)):
    print(s[i],end=' ')

p y t h o n

In [89]:
a='Apple'
i=0
while i<len(a):
    print(a[i])
    i+=1

A
p
p
l
e

In [91]:
# enter a string
# and print the vowels in a string

# my_string='hai how are you'

A=input("enter the string here:")
owels="a,e,i,o,u"
for i in A:
    if i in owels:
        print(i)

enter the string here:gugchjsresdfxcvbn
u
e

In [12]:
my_string='cat is not rat'
vov="a,e,i,o,u"
for i in my_string:
    if i in vov:
        print(i,end=" ")

a i o a

In [3]:
string=input("enert the string")
v="aeiou"
for i in string:
    if i in v:
        print(i,end=' ')

enert the stringbchsvjhgqujbxa
u a

In [15]:
# i want to append string into string2
# string letters will go into string1

my_string=input("enter the string:")
string2=''
for i in my_string:
    if i in 'aeiou':
        if i not in string2:
            string2=string2+i
            
print(string2,end=" ")

enter the string:uytrsedfxc
ue

string2

$ slice $

In [7]:
stri="i love python"

In [8]:
len(stri)

13

In [9]:
for i in range(2,10):
    print(i,end=" ")  # start =2,,

2 3 4 5 6 7 8 9

In [12]:
string='i love python'
string[2:10]

'love pyt'

In [15]:
string[::-1]

'nohtyp evol i'

In [20]:
for i in range(2,13,2):
    print(i,end=' ')
    
# start=2.    stop=end-1=13-1=12
# step=2.      direction=the step +2------>+ve

2 4 6 8 10 12

In [ ]:
-13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
i        l    o  v  e     p  y  t  h  o   n 
0    1   2    3  4  5  6  7  8  9  10 11  12

In [17]:
string='i love python'
string[2:13:2]

'lv yhn'

In [23]:
string[2:-13:2]
string[2:-13:-2]
string[-2:-13:2]
string[-2:-13:-2]
string[-2:13:2]
string[-2:13:-2]

''

In [24]:
string[-2:13:-2]

''

In [25]:
string[-2:13:2]

'o'

In [26]:
string[-2:-13:-2]

'otpeo '

In [27]:
string[-2:-13:2]

''

In [28]:
string[2:-13:-2]

'l'

In [29]:
string1="python"
dir(string1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$upper$

In [33]:
string='i love python'
string.upper()

# upper method

'I LOVE PYTHON'

In [35]:
string_upper=string.upper()
string_upper

'I LOVE PYTHON'

In [37]:
string_lower=string_upper.lower()
print("original case:",string)
print("upper case:",string_upper)
print("lower case:",string_lower)

original case: i love python
upper case: I LOVE PYTHON
lower case: i love python

$capatalize$

In [40]:
string_capatalize=string_lower.capitalize()
print("original case:",string)
print("upper case:",string_upper)
print("lower case:",string_lower)
print("capitalize:",string_capatalize)

original case: i love python
upper case: I LOVE PYTHON
lower case: i love python
capitalize: I love python

$case fold$

In [42]:
text='HoW Are'
# case fold will convert all the string to lowwer case ....
# lower method is same as case fold

text_casefold=text.casefold()
text_lower=text.lower()
print(text_casefold)
print(text_lower)

how are
how are

$Center$

In [48]:
word='python'
# i want to create a 12 letters and the word should be in center 
# and surrounded by some special chr*
new_word=word.center(12,'*')
print(new_word)

***python***

$index$-$count$-$find$

In [55]:
text1='python'
# what is the inder of "o" is 4,-2
for i in text1:
    print("{} index is {} ".format(i,text1.index(i)))

p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [57]:
for i in range(len(text1)):
    print("{} index is {} ".format(text1[i],i))

p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [61]:
sent1='i like python'
sent1.index('python')
print(sent1.index('python'))
print(sent1.index('p'))

7
7

In [63]:
sent2='ola ola ola'
sent2.index('ola')


# ola is a substring repaeting at 0,4,7
# but index method will provide 
# only first occurance

0

In [81]:
sent3='ala ola ola'
print(sent3.index('ola'))
print(sent3.index('ola'))

4
4

 $count$

In [72]:
str1="happy"
str1.count('p')

2

In [74]:
sent2="ala olaola"
sent2.count('ola')

2

$Mutable$ $Imutalbe$

In [83]:
string='welcome'
# welcome replace 'l'------> 'L'

string.index('l')

2

In [86]:
string[2]='L'

# string are immutable
# in strings we can not change the value of by using index

TypeError: 'str' object does not support item assignment

In [92]:
s1=string[:2]
s2=string[3:]
new_str=s1+ 'L'+s2
print(new_str)

weLcome

$replace$

In [94]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [95]:
str2='welcome life'
str2.replace('e','E')

# replace with o/p char for all i/p char

'wElcomE lifE'

In [98]:
str3='restart'
a=str3[:5]
b=str3[6:]
print(a+'$'+b)

resta$t

In [103]:
str3='restart'
a=str3[:5]
b=str3[5:]

print(b)
c=b.replace('r','$')

print(a+c)

rt
resta$t

In [108]:
str3='restart'
str3.replace('r','R',1)

'Restart'

In [115]:
str4='python'
str4[::5]

'pn'

In [120]:
str5='ola ola ola'
str5.find('o',6)

8

In [ ]:
 # resta$t
    
str3='restart'
a=str3[:5]
b=str3[5:]

In [ ]:
# what are the index of 'p'
# one 'p' index is =2
# second 'p' index is =3 
# how do you get the second 'p' index?
# find method will give other occurences of char

In [142]:
string1='ola ola ola'

In [144]:
print(string1.find('o')) # first 'o' occures at index 0
print(string1.find('o',5)) # im checking o in 'la ola ola ' index 4
print(string1.find('o',2)) # Third inder is 8
print(string1.find('o',9)) # -1 means no 'o' after 9th index

0
8
4
-1

In [147]:
num1=string1.find('o') # =========> 0
num2=string1.find('o',num1+1) #========> 4
num3=string1.find('o',num2+1) #======> 8

print(string1.find('o',string1.find('o',string1.find('o',string1.find('o')+1)+1)+1))

-1

In [151]:
str1='restart'
st=str1.find('r',1)
s1=str1[:st]
s2=str1[st:]
s3=s2.replace('r','$')
print(s1+s3)

resta$t

$ strip $ $ lstrip $ $ rstrip $

In [153]:
str1=' python'
print(str1)
str1.strip(' ')

 python

'python'

In [155]:
str1=' python' # space in left and right.
str2='pyhton good  ' # space in side right side.
str3= ' python' # space in left side.

In [156]:
str3.lstrip(' ')

'python'

In [157]:
str1=' python*****'
s1=str1.rstrip("*")
s2=str1.lstrip(' ')
str1,s1,s2

(' python*****', ' python', 'python*****')

In [122]:
import os
os.getcwd()

'/Users/sheelendersharma1/Desktop/data sciece/ekeeda/python'

In [124]:
import webbrowser
import time
time.sleep(5)
webbrowser.open("https://www.javatpoint.com/python-display-multiplication-table")

True

$startwiths$ $endwiths$

In [126]:
str6="hi my name is sheelander"
str6.startswith('hi')

True

In [127]:
str6.endswith('der')

True

$split$

In [17]:
fruits = [4, 32, 64, 32, 16, 32]
x = fruits.index(32)

In [18]:
x

1

In [19]:
list1 = ['xyz', 'z', 'Pickle']
print (max(list1))

z

In [20]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [21]:
list1=[8,0,9,5]
print(list1[::-1])

[5, 9, 0, 8]

In [23]:
print(list_name.sort())
print(max(list_name))
print(list_name.reverse())
print(list_name[-1])

NameError: name 'list_name' is not defined

In [24]:
l = [None] * 10
print(len(l))

10

In [25]:
list1=[3,2,5,7,3,6]
list1.pop(3)
print(list1)

[3, 2, 5, 3, 6]

In [30]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]

print(aList)

[10, 20, 30, 40, 50, 60, 70, 80]

In [31]:
resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)

['Hello Dear', 'Hello Bye', 'Good Dear', 'Good Bye']

In [33]:
list1=[]

In [34]:
list1=[]*3

In [35]:
list1=[2,8,7]