In [8]:
#1.Accept a number and check whether it is palindrome or not


#2.Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.


#3.Write a program to find the sum of the digits of a number accepted from user

#4.Write a program to find the factorial of a number.


#5.Write a program to display the product of the digits of a number accepted from the user.


#6.Calculate the average of the number given in the list through loop.
list1=[34,6,43,2,32,44,55,33,32]


#7.Reverse string using a for loop (take the input from user).


#8.Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.



#9.Write a code to print table of 5 using assignment operand +=.(using while)



#10.Write a program swap the keys to values and values to keys of the given dictionary. Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}
    
    
    
   #11. Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday'] Output: ['Monday', 'Sunday', 'Saturday'



#12.Write a program to count all the elements from wrong text but it should not consider space and vowels
wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair 
        sun and kill the envious moon Who is already sick and pale with grief"""
        
        
        
13.# number is armstrong.

pq

In [14]:

Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
 

print("The original string is : " + str(Days))
 

res = [char for char in Days if char.isupper()]
 

print("The uppercase characters in string are : " + str(res))

The original string is : ['Monday', 'tuesday', 'friday', 'Sunday', 'Saturday']
The uppercase characters in string are : []

In [66]:
#1.Accept a number and check whether it is palindrome or not
a=input("enter the string:")
b=a[::-1]
if a==b:
    print("This string is palindrome {}={}".format(a,b))
    
else:
    print("NO its not a paindrome {} != {}".format(a,b))

enter the string:kjwhfgwej
NO its not a paindrome kjwhfgwej != jewgfhwjk

In [83]:
#Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500.
for i in range(100,500):
    if i%11==0 and i%2==1:
        print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [96]:
#3.Write a program to find the sum of the digits of a number accepted from user.
a=input("enter the number:")
sum=0
for i in a:
    sum=sum + int(i)
    
print(sum)

enter the number:567
18

In [119]:
#4.Write a program to find the factorial of a number.

num=eval(input("enter the number:"))
factorial=1
if num<0:
    print("not possible")
    
elif num==1:
    print("1")
    
else:
    for i in range(1,num+1):
        factorial=factorial*i
        
        
        
print("the factroial {} is =".format(num),factorial)

enter the number:5
the factroial 5 is = 120

In [118]:
'7'==7

False

In [65]:
#5.Write a program to display the product of the digits of a number accepted from the user.

a=input("enter the number:")
product=1

for i in a:
    product=product*int(i)
    
    
print(product)

enter the number:34
12

In [146]:
#6.Calculate the average of the number given in the list through loop.
#list1=[34,6,43,2,32,44,55,33,32]


list1=[34,6,43,2,32,44,55,33,32]
sum=0

for i in range(len(list1)):
    sum=sum+list1[i]
    
print("The sum of number in list is-",sum)
    
print("The average of number in list is-",sum/len(list1))

The sum of number in list is- 281
The average of number in list is- 31.22222222222222

In [158]:
#7.Reverse string using a for loop (take the input from user).

string1=input("Enter the string:")
s=''

for i in range(len(string1)):
    s=string1[::-1]

print(s)

Enter the string:vvdhjhj
jhjhdvv

In [170]:
#8.Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.
n=eval(input("enter the fib range:"))

def fib(n):
    a=0
    b=1
    
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)
        
        
fib(n)

enter the fib range:5
0
1
1
2
3

In [49]:

#9.Write a code to print table of 5 using assignment operand +=.(using while)
n=10
a=0
while n>0:
    a+=5
    print(a)
    n=n-1

5
10
15
20
25
30
35
40
45
50

In [63]:
#10.Write a program swap the keys to values and values to keys of the given dictionary. 
#Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 
#Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}
    
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
type(Module)
len(Module)
new_dic={}
for key,value in Module.items():
    new_dic[value]=key
    
print(new_dic)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

In [48]:
 #11. Write a program to extract the words from the given list which have their first character in uppercase. 
    #Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday'] Output: ['Monday', 'Sunday', 'Saturday']

Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday'] 


type(Days)
Days.pop(1)
Days.pop(1)
print(Days)  # by using pop....

['Monday', 'Sunday', 'Saturday']

In [70]:
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday'] 
list2=[]

for i in Days:
    if i[0].isupper():
        list2.append(i)
        

print(list2)

['Monday', 'Sunday', 'Saturday']

In [31]:
#12.Write a program to count all the elements from wrong text but it should not consider space and vowels
#wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair 
        #sun and kill the envious moon Who is already sick and pale with grief"""
        
        
wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair 
        sun and kill the envious moon Who is already sick and pale with grief"""
count=0
vov=0
for i in range(0,len(wrong)):
    ch=wrong[i]
    if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ):
        count+=1
        
    if (ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u' ):
        vov+=1
            
        
print("constant:",count)
print("vowels:",vov)

print("Wrong text but it should not consider space and vowels:",count-vov)

constant: 134
vowels: 49
Wrong text but it should not consider space and vowels: 85

In [75]:
# number is armstrong.

num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

# display the result
if num == sum:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 123
123 is not an Armstrong number