In [ ]:
## Data type and conversion.

 1.
 Assume you have two lists a=[1,3,5,7] b=[2,4,6,8,10]  
i.First task is to create a list which has elements from both the list & name it 'ab'  
 ii.Write a function which can reverse the elements of ab

 2.
Can a list be converted into a set? Explain with the help of an example.
 Extract 3000 from the given list
 Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]


 3.
 Extract '09' from this:
 G=["2022-09-03"]



 4.Write a code to add a key to a dictionary
 Use the given dictionary and add a key (4:16)
 square_dictionary = {1:1, 2:4, 3:9}





5.(i)Count the occurence of "me" in the given string below.
 (ii)Extract "python@gmail"
 str="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"


 6.Write the program to multiply the two lists
 Lists to perform multiplication:

 num_list_1 = [1, 2, 3, 4]

 num_list_2 = [0, 5, 2, 1]



 7.Write a program to perform following list operations on the list given below:
a. Check the length of mix_list_1
B. Concatenate the mix_list_1 and mix_list_2
C. Repeat the mix_list_2 three times

 8.Lists to perform operations:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']



    
    
    
    
    


9.Write a program to perform following set operations:

a. Union
b. Intersection
c. Set of all the elements of set A that are not in set B
d. Set of all the elements of set B that are not in set A
e. Symmetric difference
Use the below set:

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}




10.Write the program to perform following manipulations:

a. Add '7' to the given set
b. Remove '3' from a given set
c. Clear the set
Use the below set for manipulation

num_set = {1, 2, 3, 4, 5, 6}



11.Replace the elements in the given tuple:

a. Replace '2' with '3'
b. Replace 'True' in first element with 'False'
Use the tuple below:

mix_tuple = (['a', 1, True], 2, 'Science', -5
             
             
             
             
             


12.Write a code to perform operations on tuple:

a. Check the length of num_tuple
b. Concatenate the num_tuple and mix_tuple
c. Repeat the mix_tuple two times
Tuples to perform operations:

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2
             
             
             
             
13.Write a program to perform following built-in list operations:

a. Min(list)
b. Max(list)
c. Sort the elements (use sort() and sorted() function)
d. Create a copy of a list
e. Remove element '5' from the list

Use the below list

num_list = [4, 5, 7, -2, 0, 1
            
            
            
            
            
            


14.Write a code to retrieve elements from a list

a. First element
b. Second last element
c. First three elements
d. Slice the list from 1st index till the last index with an increment of an index by 2
Use the below list:

mix_list = ['Python', 1, 2, 3, 'Data', True]

            
            
            
            
15.Create a string with a name 'country' and 'India' as its elements. Perform the following:
 a. Find its length
 b. extract its first two letters

In [105]:
#1. 
#Assume you have two lists a=[1,3,5,7] b=[2,4,6,8,10]  
#i.First task is to create a list which has elements from both the list & name it 'ab'  
#ii.Write a function which can reverse the elements of ab



a=[1,3,5,7]
b=[2,4,6,8,10] 

ab=a+b
ab.reverse()  #for reverse the list.
print("Reverse List:",ab)

Reverse List: [10, 8, 6, 4, 2, 7, 5, 3, 1]

In [106]:
#2.
#Can a list be converted into a set? Explain with the help of an example.
#Extract 3000 from the given list
#Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]


y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]
x=y[9]
print(x[1])
print(type([9]))
y[9].pop(1) #poping the element 1
print(y[9])

print(y)

3000
<class 'list'>
[2000, 1000]
[1, 3, 4, 6, 7, 9, 10, (4+7j), 'Hello world', [2000, 1000]]

In [107]:
#3. Extract '09' from this: G=["2022-09-03"]

G=["2022-09-03"]
y=G[0]
print(type(G))
print(y[5:7])

<class 'list'>
09

In [14]:
#.Write a code to add a key to a dictionary Use the given dictionary and add a key ------>
#(4:16) square_dictionary = {1:1, 2:4, 3:9}

square_dictionary = {1:1, 2:4, 3:9}

square_dictionary[4]=16
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

In [16]:
##(i)Count the occurence of "me" in the given string below. 
#(ii)Extract "python@gmail" str="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"



my_string ="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"

my_char = "me"

print(my_string.count(my_char))
print(my_string[56:68])
my_char.find("python@")

3
python@gmail

In [110]:
#Write the program to multiply the two lists Lists to perform multiplication:
#num_list_1 = [1, 2, 3, 4]
#num_list_2 = [0, 5, 2, 1]




num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]
multiply=[i1 * i2 for i1, i2 in zip(num_list_1,num_list_2)]
print("The multiply of List1 and List2 is:",multiply)



#2.method..

for i in range(0,len(num_list_1)):
    multi.append(num_list_1[i]*num_list_2[i])
print(multi)

The multiply of List1 and List2 is: [0, 10, 6, 4]

In [111]:
#Write a program to perform following list operations on the list given below: 
    #a. Check the length of mix_list_1 
   # B. Concatenate the mix_list_1 and mix_list_2 
    #C. Repeat the mix_list_2 three times
    
    
list1 = ['edureka', 'python', 2019];
list2 = [1, 2, 3, 4, 5 ];

print("The length of list1 is:",len(list1))

list3=list1+list2
print("Concatenate of list1 and list2 is:",list3)

print(list2*3)

The length of list1 is: 3
Concatenate of list1 and list2 is: ['edureka', 'python', 2019, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [113]:
# 8.Lists to perform operations: 
# mix_list_1 = ['Learn', 24, 'Blue', False, -8]
# mix_list_2 = [4, 7, 'Summer']

mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

In [ ]:
#9.Write a program to perform following set operations:

#a. Union 
#b. Intersection 
#c. Set of all the elements of set A that are not in set B 
#d. Set of all the elements of set B that are not in set A
#e. Symmetric difference Use the below set:

#A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

#B = {3, 42, 51, 6, 7, 8, 54, 5}

In [ ]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

D=(A.union(B))
print("The union of A and B is :",D)

E=(A.intersection(B))
print("The intersection of A and B is:",E)

print("all the elements of set A that are not in set B:",set(A)-set(B))
print("all the elements of set B that are not in set A:",set(B)-set(A))

F=A.symmetric_difference(B)
print("Symmetric difference of set A and set B is:",F)

In [ ]:
#10.Write the program to perform following manipulations:
#a. Add '7' to the given set 
#b. Remove '3' from a given set
#c. Clear the set Use the below set for manipulation
#num_set = {1, 2, 3, 4, 5, 6}

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
print("Added 7 in the set :",num_set)
num_set.remove(3)
print("Remove 3 in the set : ",num_set)
num_set.clear()

In [ ]:
#11.Replace the elements in the given tuple:
#a. Replace '2' with '3' 
#b. Replace 'True' in first element with 'False' Use the tuple below:
#mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
q=list(mix_tuple)
print(q)
q[1]=3
print(q)
print("Replaced 2 with 3",)


q[0][2]=False
print(q)
print("Replaced True with False")

In [ ]:
#12.Write a code to perform operations on tuple:
#a. Check the length of num_tuple 
#b. Concatenate the num_tuple and mix_tuple 
#c. Repeat the mix_tuple two times Tuples to perform operations:
#num_tuple = (4, 4, 8)
#mix_tuple = 'John', 5, -2

In [ ]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2
print("The length of num_tuple is:".format(num_tuple),len(num_tuple))
concatenate=num_tuple+mix_tuple
print("The concatenate of both tuple is:",concatenate)
print("Repeat the mix_tuple two times Tuples to perform operations:",mix_tuple*2)

In [ ]:
#13.Write a program to perform following built-in list operations:
#a. Min(list) 
#b. Max(list) 
#c. Sort the elements (use sort() and sorted() function)
#d. Create a copy of a list 
#e. Remove element '5' from the list
#Use the below list
#num_list = [4, 5, 7, -2, 0, 1]

In [ ]:
num_list = [4, 5, 7, -2, 0, 1]
print("MIN:",min(num_list))
print("Max:",max(num_list))
num_list.sort()
print("sort:",num_list)
print("Sorted:",sorted(num_list))
num_list.remove(5)
print("Remove 5:",num_list)

In [ ]:
#14.Write a code to retrieve elements from a list
#a. First element 
#b. Second last element 
#c. First three elements 
#d. Slice the list from 1st index till the last index with an increment of an index by 2 Use the below list:
#mix_list = ['Python', 1, 2, 3, 'Data', True]

In [32]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
print("First element:",mix_list[0])
print("second last element:",mix_list[-2])
for i in range(3):
    print(mix_list[i],end=",")
    
    
print("\r")

print(mix_list[:5:2])

First element: Python
second last element: Data
Python,1,2,
['Python', 2, 'Data']

In [ ]:
#15.Create a string with a name 'country' and 'India' as its elements. Perform the following:
#a. Find its length
 #b. extract its first two letters

In [100]:
a="country,India"
print("Length of string a:",len(a))
print("Extract its first two letters:",a[:2])

Length of string a: 13
Extract its first two letters: co

In [114]:
t = '%(a)s, %(b)s, %(c)s'
t % dict(a='hello', b='world', c='universe')

'hello, world, universe'

## Calculater using Function.

In [4]:

    
s={1, 2, 3}
s.update(4)
print(s)

TypeError: 'int' object is not iterable

In [5]:
a={5,6,7,8}
b={7,8,9,10}
len(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [7]:
a={1,2,3}
b=a
b.remove(3)
a

{1, 2}

In [8]:
a=[(2,4),(1,2),(3,9)]
a.sort()
a

[(1, 2), (2, 4), (3, 9)]

In [11]:
Student= {
  "id":101,
  "name": "Dheeraj",
  "email": "xyz@gmail.com",
  "position": "Mentor",
}


print(Student['email'])

xyz@gmail.com

In [12]:
x = [1, [2, 3, [4, Ekeeda, 3.17]], 'Mumbai']

NameError: name 'Ekeeda' is not defined

In [13]:
a=(0.1)
type(a)

float

In [18]:
X = ('EKeeda')*3
X

'EKeedaEKeedaEKeeda'

In [19]:
 x= ["air", "ball", "cat", "disk"]
"labrador" in colors

NameError: name 'colors' is not defined

In [20]:
x= ["air", "ball", "cat", "disk"]
x[2]

'cat'

In [21]:
tuple1=(5,1,7,6,2)
tuple1.pop(2)
print(tuple1)

AttributeError: 'tuple' object has no attribute 'pop'

In [22]:
a,b,c=1,2,3
a,b,c

(1, 2, 3)

In [23]:
s={1, 2, 3}
s.update(4)

TypeError: 'int' object is not iterable

In [1]:
a=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]

In [2]:
a =[1,2,3,4,5,6,7,8,9]
b = set(a)
print(type(b))

<class 'set'>

In [11]:
square_dictionary = {1:1, 2:4, 3:9}

square_dictionary[4]=16
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

In [12]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [15]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [22]:
a=123

AttributeError: 'int' object has no attribute 'reverse'

In [ ]:

num=eval(input("Enter the five digit number:"))
temp=0
new=num

for i in range(5):
    digit=num%10
    temp=temp*10+digit
    num//=10
    
    
print("Reversed number:",temp)
x = temp.split()

In [26]:
a=123
b=a.split('')

AttributeError: 'int' object has no attribute 'split'

In [27]:
a = (input("enter a number:"))
b = a[::-1]
c = int(b)
print(c)

enter a number:123
321

In [50]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

In [54]:
for i in range(0,5,2):
    for j in range(0,2):
         print(mix_list,end="")
    print("\r")

['Python', 1, 2, 3, 'Data', True]['Python', 1, 2, 3, 'Data', True]
['Python', 1, 2, 3, 'Data', True]['Python', 1, 2, 3, 'Data', True]
['Python', 1, 2, 3, 'Data', True]['Python', 1, 2, 3, 'Data', True]

In [63]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
myList = []
for i in range(0,6):
    myList.append(mix_list[0:6:2]*i)
    print(myList)

[[]]
[[], ['Python', 2, 'Data']]
[[], ['Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data']]
[[], ['Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data']]
[[], ['Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data']]
[[], ['Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data'], ['Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data', 'Python', 2, 'Data']]

In [66]:
mix_list = ['Python', 1, 2, 3, 'Data', True]
for i in range(0,len(mix_list)+1):
    if i==0:
        for j in range(i+1,len(mix_list)+1):
            print(mix_list[i:j])
    else:
        break

['Python']
['Python', 1]
['Python', 1, 2]
['Python', 1, 2, 3]
['Python', 1, 2, 3, 'Data']
['Python', 1, 2, 3, 'Data', True]

In [70]:
s='welcome'
L=[]
vowels='a'or'e'or'i'or'o'or'u'
for i in range(0,len(s)+1):
    for j in range(i+1,len(s)+1):
        L.append(s[i:j])
for i in range(len(L)):
    if L[i].startswith(vowels):
        print(L[i])