#mcq:

If the standard deviation of 0, 1, 2, 3 ______ 9 is K, then the standard deviation of 10, 11, 12, 13 _____ 19 will be:
    
    
    
What i2. If the standard deviation of a data is 0.012. Find the variance.



The mean of two samples of the sizes 250 and 320 was found to be 20,12 respectively. Their standard deviations were 2 & 5, respectively. Find the variance of the combined sample of size 650.



Find the variance of the first 10 natural numbers


If the standard deviation of the numbers 2, 4, 5 & 6 is a constant a, then find the standard deviation of the numbers 4, 6, 7 & 8.


Assuming the variance of four numbers w, x, y, and z as 9. Find the variance of 5w, 5x, 5y and 5z.


A fisherman is weighing each of 50 fishes. Their mean weight worked out is 50 gm and a standard deviation of 2.5 gm. Later it was found that the measuring scale was misaligned and always under reported every fish weight by 2.5 gm. Find the mean and standard deviation of fishes.



What is the median and standard deviation of a distribution are 50 and 5 respectively, if each item is increased by 4.



If the S.D. is a set of observations is 4 and if each observation is divided by 4, find the S.D. of the new observations.



The change in which of the following terms does not affect the standard deviation?

In [ ]:
# programming question:

Find standard deviation for the given list of items items = [12,86,87,88,86,87,85,86]


Below three columns, calculate standard deviation using pandas library first convert below d into a dataframe.
d = {
    'Name':['Alisa','Bobby','Cathrine','Madonna','Rocky','Sebastian','Jaqluine',
   'Rahul','David','Andrew','Ajay','Teresa'],
   'Score1':[62,47,55,74,31,77,85,63,42,32,71,57],
   'Score2':[89,87,67,55,47,72,76,79,44,92,99,69],
   'Score3':[56,86,77,45,73,62,74,89,71,67,97,68]}


Below is the data for six students studying average hours in a day. Find the standard deviation for the data x=[3,7,6,4,3,4]


Calculate variance() for the given list using the statistics module. x=[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]



Write a code to that takes data from a sample and returns an estimation of the population standard deviation. x=[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]
Hint: stdev()

In [1]:
import numpy

list = [12,86,87,88,86,87,85,86]

print(numpy.std(list))

24.62944122386864

In [9]:
d = {
    'Name':['Alisa','Bobby','Cathrine','Madonna','Rocky','Sebastian','Jaqluine',
   'Rahul','David','Andrew','Ajay','Teresa'],
   'Score1':[62,47,55,74,31,77,85,63,42,32,71,57],
   'Score2':[89,87,67,55,47,72,76,79,44,92,99,69],
   'Score3':[56,86,77,45,73,62,74,89,71,67,97,68]}

import pandas as pd

df = pd.DataFrame(d)

print(df)

print("Standard deviation of Data frame:\n",df.std())

         Name  Score1  Score2  Score3
0       Alisa      62      89      56
1       Bobby      47      87      86
2    Cathrine      55      67      77
3     Madonna      74      55      45
4       Rocky      31      47      73
5   Sebastian      77      72      62
6    Jaqluine      85      76      74
7       Rahul      63      79      89
8       David      42      44      71
9      Andrew      32      92      67
10       Ajay      71      99      97
11     Teresa      57      69      68
Standard deviation of Data frame:
 Score1    17.446021
Score2    17.653225
Score3    14.355603
dtype: float64

/var/folders/p6/z0mkbnv935lfj5knl3fvv_0m0000gp/T/ipykernel_1331/1729888982.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Standard deviation of Data frame:\n",df.std())

In [11]:




import numpy as np
x=[3,7,6,4,3,4] 
np.std(x)

1.5

In [12]:
import statistics
x=[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

variance = statistics.variance(x)

print(variance)

6.4

In [13]:
import statistics

x=[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

stdev = statistics.stdev(x)

print(stdev)

2.5298221281347035