## Objctive:

- Will take bank marketing data set

- Will apply Model developemnt

- Logistic regression

- Decision tree

- Navi bayes

- KNN

- Evaluation techniques

- Hyperparameter tuning

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sns

In [15]:
data=pd.read_csv('/Users/sheelendersharma1/Desktop/data sciece/bank.csv',sep=';')

In [16]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [17]:
data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

*step -3:*

- you need to perform EDA
- you need to understand about features
- you need to perform feature selection

*step-4:*

# convert categorical column to numerical data

- Mapping technique
- get dummies
- lables encoder

In [18]:
# will seperate categorical columns

#for key in dict(data.dtypes):
#    if dict(data.dtypes)[key] in ['object']
 #   print(key)
    

    
cat=[key for key in dict(data.dtypes) if dict(data.dtypes)[key] in ['object']]

In [19]:
cat

['job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'poutcome',
 'y']

$Label Encoder$

In [20]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
for i in cat:
    data[i]=l.fit_transform(data[i])
    
   # data['job']=l.fit_transform(data['job'])

In [21]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,7,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,4,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,4,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,1,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0

$Step-5$

*Divide data into input and output*

In [23]:
# in our data output column is 'y'
# will drop that column so that we have input data
# will select only 'y' column so that we have output data

X=data.drop('y',axis=1)
y=data['y']

In [24]:
X.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,30,10,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3
1,33,7,1,1,0,4789,1,1,0,11,8,220,1,339,4,0
2,35,4,2,2,0,1350,1,0,0,16,0,185,1,330,1,0
3,30,4,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3
4,59,1,1,1,0,0,1,0,2,5,8,226,1,-1,0,3

In [25]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int64

- Divide data into input(X) and output(y)

- Divide input data into two parts train input data(X_train) and test input data(X_test)

- Divide output data into two parts train output data(y_train) and test output data(y_test)

- Model will develop using train input data(X_train) and train output data(y_train)

- Pass test input data(X_test) to the model

- Then model will give y_predicted data

- Now compare y_predictions with test output data(y_test)

$step-6$
**Apply train test split**

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1234)

In [29]:
X_train.shape,X_test.shape,y_test.shape,y_train.shape

((3164, 16), (1357, 16), (1357,), (3164,))

In [30]:
X_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
679,44,3,1,0,0,3706,0,0,2,17,6,209,3,-1,0,3
3214,41,1,1,0,0,-204,1,1,2,6,6,42,1,-1,0,3
1925,33,7,1,1,0,0,1,0,1,22,5,44,8,-1,0,3
234,30,8,2,1,0,3096,0,0,0,26,4,123,1,-1,0,3
2807,60,0,1,3,0,1088,1,0,0,26,8,149,1,-1,0,3

In [31]:
data.shape

(4521, 17)

In [32]:
y_train.head()

679     0
3214    0
1925    0
234     0
2807    0
Name: y, dtype: int64

# case-1:with out standardization of data

## with out Hyperpramater tuning

$step-7$:
    
**Model Development**

### 1.Decision Tree

In [33]:
from sklearn.tree import DecisionTreeClassifier
tree_model=DecisionTreeClassifier()
tree_model

DecisionTreeClassifier()

In [34]:
tree_model.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [35]:
tree_model.fit(X=X_train,y=y_train)

DecisionTreeClassifier()

$Step-8$
**Prediction**

In [36]:
y_dt_pred=tree_model.predict(X_test)
y_dt_pred

array([0, 0, 0, ..., 0, 0, 0])

In [37]:
print(y_test.values[:20])
print(y_dt_pred[:20])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

$step-9$

**Evalaition**

In [38]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import classification_report,roc_auc_score
from sklearn.metrics import confusion_matrix

In [39]:
# Accuracy_score

dt_acc=accuracy_score(y_test,y_dt_pred)
dt_acc=round(dt_acc,2)*100
print("Accuracy using DT:",dt_acc)

Accuracy using DT: 86.0