In [1]:
import numpy as np    # for array
import pandas as pd   # for data_frame
import matplotlib.pyplot as plt #visulization
import seaborn as sns  # for visulization
import random

In [2]:
#correlation
#scattterplots

In [3]:
data=pd.read_csv('/Users/sheelendersharma1/Desktop/data sciece/bank.csv',sep=';',header=None)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
2,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
3,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
4,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no

In [5]:
plt.boxplot(data['age'])

KeyError: 'age'

In [ ]:
Q1=np.percentile(data['age'],25)
Q2=np.percentile(data['age'],50)
Q3=np.percentile(data['age'],75)
print("25 percentile of age value is",Q1)
print("50 percentile of age value is",Q2)
print("75 percentile of age value is",Q3)

In [ ]:
Q1=np.quantile(data['age'],0.25)
Q2=np.quantile(data['age'],0.5)
Q3=np.quantile(data['age'],0.75)
print("0.25 quantile of age value is",Q1)
print("0.5 quantile of age value is",Q2)
print("0.75 quantile of age value is",Q3)

In [ ]:
IQR=Q3-Q1
print('IQR is :',IQR)

In [ ]:
l_b=Q1-1.5*IQR
u_b=Q3+1.5*IQR
print("lower bound is :",l_b)
print("upper bound is :",u_b)

In [ ]:
outliner_age=data[(data['age']>u_b)|(data['age']<l_b)]['age'].values

In [ ]:
outliner_age

In [ ]:
# Read the file or data:
# File_location+file_path.<extenstion>

visa_dataset=pd.read_csv('/Users/sheelendersharma1/Desktop/data sciece/Visadataset.csv')

In [ ]:
visa_dataset

In [ ]:
visa_dataset.shape

# no of rows are 25480
# no of columns are 12

In [ ]:
# Which type of problem?   >> supervised
# whenever you have labeled data
# Your data has dependent on input variable
# Your data has dependent variable and independent variable
# Your data has output variable
# Here the output variable is ---------> case status
# It is supervised technique
# It is a classification problems

#step:
# What is the type problem? Labeled data---> superviased
# your output table has categorical------> classification
# your output has numerical------> regression

# use need to check the data

In [ ]:
# Fetching all columns
visa_dataset.columns

In [ ]:
# Data type
visa_dataset.dtypes

In [ ]:
# statistics : Mean ,Median ,std, 25,50,75
# only on numerical variables..

visa_dataset.describe()

$Prevailing wage$

In [ ]:
visa_dataset['prevailing_wage']

In [ ]:
# statstical analysis:
visa_dataset['prevailing_wage'].min()

In [ ]:
# numpy using
np.min(visa_dataset['prevailing_wage'])

In [ ]:
visa_dataset['prevailing_wage'].max()

In [ ]:
np.max(visa_dataset['prevailing_wage'])

In [ ]:
visa_dataset['prevailing_wage'].sum()

In [ ]:
print("min:",visa_dataset['prevailing_wage'].min())
print("max:",visa_dataset['prevailing_wage'].max())
print("mean:",visa_dataset['prevailing_wage'].mean())
print("medaian:",visa_dataset['prevailing_wage'].median())
#print(visa_dataset['prevailing_wage'].mode())
print("sum:",visa_dataset['prevailing_wage'].sum())

In [ ]:
dir(np)

In [ ]:
print("min:",visa_dataset['prevailing_wage'].min(),2)
print("max:",visa_dataset['prevailing_wage'].max(),2)
print("mean :",round(visa_dataset['prevailing_wage'].mean(),2))
print("median :",round(visa_dataset['prevailing_wage'].median(),2))
print("std:",round(visa_dataset['prevailing_wage'].std(),2))
print("25:",round(visa_dataset['prevailing_wage'],25),2)
print("50:",round(visa_dataset['prevailing_wage'],50),2)
print("75:",round(visa_dataset['prevailing_wage'],75),2)




# round (a,2)
# a=visa_dataset['prevailing_wage'].median()

In [ ]:
# Create a dictionary

dict_wage={}

dict_wage['Count_wage']=visa_dataset['prevailing_wage'].count()
dict_wage['Min_wage']=visa_dataset['prevailing_wage'].min()
dict_wage['Max_wage']=visa_dataset['prevailing_wage'].max()
dict_wage['Mean_wage']=round(visa_dataset['prevailing_wage'].mean(),2)
dict_wage['Medain_wage']=round(visa_dataset['prevailing_wage'].median(),2)
dict_wage['Std_of_wage']=round(visa_dataset['prevailing_wage'].std(),2)
dict_wage['Wage_25']=round(np.percentile(visa_dataset['prevailing_wage'],25),2)
dict_wage['Wage_50']=round(np.percentile(visa_dataset['prevailing_wage'],50),2)
dict_wage['Wage_75']=round(np.percentile(visa_dataset['prevailing_wage'],75),2)

In [ ]:
wage_data=pd.DataFrame(dict_wage,index=['Wage_details'])
wage_data.to_csv("Wage_details.csv") # saving the cvs file
wage_data

In [ ]:
visa_dataset.describe()

In [ ]:
# Find any missing values 

visa_dataset.isnull().sum()

In [ ]:
# also use isna()
visa_dataset.isna().sum()

# For missing value analysis check Analysis on missing values notebook

In [ ]:
# columns with numerical entries
# columns with categorical entries


cat_cols=visa_dataset.columns[visa_dataset.dtypes=='O']
num_cols=visa_dataset.columns[(visa_dataset.dtypes=='int64')|(visa_dataset.dtypes=='float64')]

In [ ]:
cat_cols

In [ ]:
num_cols

# Prevalling_Wage

In [ ]:
visa_dataset['prevailing_wage']

In [ ]:
### Histogram using matplotlib

plt.hist(visa_dataset['prevailing_wage'])

In [ ]:

plt.title("Histrogram of wages")
plt.hist(visa_dataset['prevailing_wage'],bins=40)
plt.ylabel("wages")
plt.show()

#

In [ ]:
n,bins,patches=plt.hist(visa_dataset['prevailing_wage'],bins=40)
# histogram will return 3 values
# n= height of each interval/bin
# bins=intervalues from last

In [ ]:
n

In [ ]:
bins

In [ ]:
patches

In [ ]:
len(visa_dataset[visa_dataset['prevailing_wage']<7982])

In [ ]:
7.98234003e+03

**Histogram using seaborn**

In [ ]:
sns.histplot(data=visa_dataset['prevailing_wage'],kde=True,color='g') # seaborn
# kde=kernel density estimation
plt.show()

In [ ]:
sns.histplot(data=visa_dataset,x='prevailing_wage',kde=True) # seaborn
# kde=kernel density estimation
plt.show()

In [ ]:
# In seaborn we have default dataset also avialbel
penguins=sns.load_dataset('penguins')
 
# git/hb.com/nwaskom/seaborn-data/blob/master/penguins.cvs

In [ ]:
penguins.columns

In [ ]:
sns.histplot(data=penguins,x='flipper_length_mm',kde=True)

In [ ]:
sns.histplot(data=penguins,x='flipper_length_mm',kde=True,hue='species')

$Distribution$$plot$

In [ ]:
sns.displot(visa_dataset['prevailing_wage'],bins=10,kde=True)
plt.show()

In [ ]:
sns.kdeplot(visa_dataset['prevailing_wage'],color='g',shade=True)
plt.show()

# density vs values
# KDE=kernel density estimate
# probality density

In [ ]:
num_cols

In [ ]:
sns.kdeplot(visa_dataset['prevailing_wage'],color='g',shade=True)
sns.kdeplot(visa_dataset['no_of_employees'],color='b',shade=True)

In [ ]:
sns.kdeplot(visa_dataset['prevailing_wage'],color='g',shade=True)
sns.kdeplot(visa_dataset['no_of_employees'],color='b',shade=True)
sns.kdeplot(visa_dataset['yr_of_estab'],color='g',shade=True)

**correlations plots**

- relation b/t two fetaures
- r -1 to 1
- if r = -1<r<0 : negative
- if 0<r<1 : postive correlation
- if r=0: no correlation

In [ ]:
# corr is the function
visa_dataset.corr()
# there is no relation b/t the variable

In [ ]:
penguins.corr()

**heat map to visualize**

In [ ]:
sns.heatmap(visa_dataset.corr(),annot=True)
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
sns.heatmap(penguins.corr(),annot=True)
plt.show()

**scatter plots**

In [ ]:
x=visa_dataset['prevailing_wage']
y=visa_dataset['no_of_employees']
plt.scatter(x,y)
plt.show()

In [ ]:
# Histogram-------- histogram plot
# Distribution------ distribution plot
# Correlation-------

In [ ]:
penguins.columns

In [ ]:
x=penguins['body_mass_g']
y=penguins['flipper_length_mm']
plt.scatter(x,y)
plt.xlabel("body mass")
plt.ylabel('flipper length')
plt.title("Relation plot")
plt.show()

In [ ]:
- EDA (explorartory data analysis)
-

In [ ]:
visa_dataset.columns

In [ ]:
## using matplotlib

plt.boxplot(visa_dataset['prevailing_wage'])
plt.show()

- outlier analysis note book
- just get all the outlier

- so middile orange line is median that 50% data

In [ ]:
# using seaborn

sns.boxplot(data=visa_dataset['prevailing_wage'])
plt.show()

In [ ]:
visa_dataset[visa_dataset['continent']=='Asia']['prevailing_wage'].median()

In [ ]:
sns.boxplot(x='continent',y='prevailing_wage',data=visa_dataset)
plt.show()

In [ ]:
visa_dataset.groupby(['continent'])['prevailing_wage'].median()

In [ ]:
plt.figure(figsize=(10,6))  ## increasing the size 10=horizotal,6=vertical
box_plot=sns.boxplot(x='continent',y='prevailing_wage',data=visa_dataset)
medians=visa_dataset.groupby(['continent'])['prevailing_wage'].median()
for i in box_plot.get_xticks():
    box_plot.text(i,
                  medians[i],# value
                  medians[i],# postion on the boxplot
                  horizontalalignment='center',size='small',color='w',weight='semibold')

- continent

In [ ]:
visa_dataset['continent'].value_counts()

In [ ]:
# in the total data there 1681 rows/observations having Asia as continental
# in the total data there 3732 rows/observations having Europe as continental

In [ ]:
# one column is continent
# other column is count

In [ ]:
data={}
data['continent']=visa_dataset['continent']
data['count']=visa_dataset['continent'].value_counts()
pd.DataFrame(data)

In [ ]:
# method-2
count_data=visa_dataset['continent'].value_counts()
dict1=dict(count_data)
pd.DataFrame(dict1,index=['count'])

In [ ]:
# M-3

contients=dict(count_data)
list_contients=[key for key in contients.keys()] # keys in one list
list_count=[value for value in contients.values()] # values are in list
contients_data=pd.DataFrame(zip(list_contients,list_count),columns=['continents','count'])
contients_data

In [ ]:
sns.barplot(x='continents',y='count',data=contients_data)
plt.show()

In [ ]:
# matplot
plt.bar('continents','count',data=contients_data)
plt.title("Bar Plot")
plt.show()

- count plot

In [ ]:
visa_dataset['continent'].value_counts().index
# top to bottom

In [ ]:
sns.countplot(y='continent',data=visa_dataset)

In [ ]:
sns.countplot(y='continent',data=visa_dataset,order=visa_dataset['continent'].value_counts().index) # in order

In [ ]:
plt.figure(figsize=(8,8))
sns.countplot(y='continent',data=visa_dataset,order=visa_dataset['continent'].value_counts().index)
plt.title("Bar plot")
plt.show()

## observation

- Most of the visa candidates belongs to Asia contient   i.e. 16861
- second highest visa candidates belongs to Europe i.e 3732
- Third highest visa candidates belongs to North America i.e 3732

In [ ]:
# order=['Asia','Europe','...','...']

visa_dataset['continent']

In [ ]:
visa_dataset['continent'].value_counts()

In [ ]:
visa_dataset['education_of_employee'].value_counts()

In [ ]:
sns.countplot(x='education_of_employee',data=visa_dataset,order=visa_dataset['education_of_employee'].value_counts().index)
plt.title("Bar plot")
plt.show()

**Observation**

- most of the visa appliers have highest bachelors
- second most visa appliers have master's eduction...

In [ ]:
visa_dataset.columns

In [ ]:
plt.figure(figsize=(6,6))
sns.countplot(x='has_job_experience',data=visa_dataset,order=visa_dataset['has_job_experience'].value_counts().index)
plt.title("Bar plot")
plt.show()

- y has most job experience
- n has least job experience as compare to n

In [ ]:
plt.figure(figsize=(6,6))
sns.countplot(x='education_of_employee',data=visa_dataset,order=visa_dataset['education_of_employee'].value_counts().index)
plt.title("Bar plot")
plt.show()


plt.figure(figsize=(6,6))
sns.countplot(x='education_of_employee',data=visa_dataset,hue='has_job_experience',order=visa_dataset['education_of_employee'].value_counts().index)
plt.title("Bar plot")
plt.show()

In [ ]:
r1=pd.crosstab(visa_dataset['education_of_employee'],
            visa_dataset['has_job_experience'])

r1

In [ ]:
len(visa_dataset[(visa_dataset['education_of_employee']=="Bachelor's")&\
                (visa_dataset['has_job_experience']=='Y')])

# first we have found how many types of esucation is there
# in that how many are experience ppl
# out of 10234 ppl 5586 are having experince

**Observation**

- Most of the visa appliers have highest education as Bachelor's degree Followed by Master

In [ ]:
plt.figure(figsize=(6,6))
sns.countplot(x='has_job_experience',data=visa_dataset,order=visa_dataset['has_job_experience'].value_counts().index)
plt.title("Bar plot")
plt.show()


plt.figure(figsize=(6,6))
sns.countplot(x='has_job_experience',data=visa_dataset,hue='education_of_employee',order=visa_dataset['has_job_experience'].value_counts().index)
plt.title("Bar plot")
plt.show()

In [ ]:
# education_of_emloyee
# has_job_experince

In [ ]:
pd.crosstab(visa_dataset['education_of_employee'],
            visa_dataset['has_job_experience'])

In [ ]:
pd.crosstab(visa_dataset['has_job_experience'],
            visa_dataset['education_of_employee'])

In [ ]:
r1=pd.crosstab(visa_dataset['education_of_employee'],
            visa_dataset['has_job_experience'])

r1

In [ ]:
r1.plot(kind='bar')

In [ ]:
r1.plot(kind='kde')

In [ ]:
r1.plot(kind='line')

In [ ]:
x=visa_dataset['education_of_employee']
y=visa_dataset['has_job_experience']
z=visa_dataset['continent']
r2=pd.crosstab([x,y],z)

In [ ]:
x=visa_dataset['education_of_employee']
y=visa_dataset['has_job_experience']
z=visa_dataset['continent']
pd.crosstab([x,z],y)

In [ ]:
r2.plot(kind='bar')

In [ ]:
visa_dataset['education_of_employee'].value_counts()

In [ ]:
visa_dataset.shape

In [ ]:
visa_dataset['education_of_employee'].value_counts(normalize=True)

In [ ]:
# require the job training

In [ ]:
plt.figure(figsize=(6,6))
sns.countplot(x='requires_job_training',data=visa_dataset,order=visa_dataset['requires_job_training'].value_counts().index)
plt.title("Bar Plot")
plt.show()

In [ ]:
visa_dataset['requires_job_training'].value_counts(normalize=True)

<b> OBSERVATION: </B> Almost 80% candidates does not require any job training

In [ ]:
visa_dataset[visa_dataset['education_of_employee']=="Bachelor's"].describe()

In [ ]:
# count plot based on single categorical varible 
# bar plot needs two columns one numerical and other one is categorical

In [ ]:
# eductional vs prevaialing wage

sns.barplot(x='education_of_employee',
           y='prevailing_wage',data=visa_dataset)


# It will give the mean values of prevailing_wage based on employee education
# Bachelors mean is = 73405.443735
# Balck lines are error lines ,which means the mean value have some interval

In [ ]:
visa_dataset[visa_dataset['education_of_employee']=="Master's"]['prevailing_wage'].mean()

In [ ]:
sns.barplot(x='has_job_experience',
           y='prevailing_wage',data=visa_dataset)

# It will give the mean values of prevailing_wage based on job experince

# Balck lines are error lines ,which means the mean value have some interval

In [ ]:
visa_dataset.columns

In [ ]:
visa_dataset['case_status']

**Case_status**

In [ ]:
visa_dataset['case_status'].value_counts()

In [ ]:
visa_dataset['case_status'].value_counts(normalize=True)

In [ ]:
plt.figure(figsize=(6,6))
sns.countplot(x='case_status',data=visa_dataset,order=visa_dataset['case_status'].value_counts().index)
plt.title("Bar Plot")
plt.show()

**pie chart**

In [ ]:
# to draw we need values and lables

values=visa_dataset['case_status'].value_counts().to_list()
lables=visa_dataset['case_status'].value_counts().index.to_list()

In [ ]:
values,lables

In [ ]:
plt.pie(x=values,labels=lables,autopct="%1.2f%%",
       wedgeprops={'edgecolor':'yellow'},
       shadow=True,explode=[0.1,0.1],
       startangle=90)
plt.show()

# It the seaborn heat map to display values we us annot=True
# In the pie chart we use autopct to dispaly the value