## Data type and conversion.

 1.
 Assume you have two lists a=[1,3,5,7] b=[2,4,6,8,10]  
i.First task is to create a list which has elements from both the list & name it 'ab'  
 ii.Write a function which can reverse the elements of ab

 2.
Can a list be converted into a set? Explain with the help of an example.
 Extract 3000 from the given list
 Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]


 3.
 Extract '09' from this:
 G=["2022-09-03"]



 4.Write a code to add a key to a dictionary
 Use the given dictionary and add a key (4:16)
 square_dictionary = {1:1, 2:4, 3:9}





5.(i)Count the occurence of "me" in the given string below.
 (ii)Extract "python@gmail"
 str="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"


 6.Write the program to multiply the two lists
 Lists to perform multiplication:

 num_list_1 = [1, 2, 3, 4]

 num_list_2 = [0, 5, 2, 1]



 7.Write a program to perform following list operations on the list given below:
a. Check the length of mix_list_1
B. Concatenate the mix_list_1 and mix_list_2
C. Repeat the mix_list_2 three times

 8.Lists to perform operations:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']



    
    
    
    
    


9.Write a program to perform following set operations:

a. Union
b. Intersection
c. Set of all the elements of set A that are not in set B
d. Set of all the elements of set B that are not in set A
e. Symmetric difference
Use the below set:

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}




10.Write the program to perform following manipulations:

a. Add '7' to the given set
b. Remove '3' from a given set
c. Clear the set
Use the below set for manipulation

num_set = {1, 2, 3, 4, 5, 6}



11.Replace the elements in the given tuple:

a. Replace '2' with '3'
b. Replace 'True' in first element with 'False'
Use the tuple below:

mix_tuple = (['a', 1, True], 2, 'Science', -5
             
             
             
             
             


12.Write a code to perform operations on tuple:

a. Check the length of num_tuple
b. Concatenate the num_tuple and mix_tuple
c. Repeat the mix_tuple two times
Tuples to perform operations:

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2
             
             
             
             
13.Write a program to perform following built-in list operations:

a. Min(list)
b. Max(list)
c. Sort the elements (use sort() and sorted() function)
d. Create a copy of a list
e. Remove element '5' from the list

Use the below list

num_list = [4, 5, 7, -2, 0, 1
            
            
            
            
            
            


14.Write a code to retrieve elements from a list

a. First element
b. Second last element
c. First three elements
d. Slice the list from 1st index till the last index with an increment of an index by 2
Use the below list:

mix_list = ['Python', 1, 2, 3, 'Data', True]

            
            
            
            
15.Create a string with a name 'country' and 'India' as its elements. Perform the following:
 a. Find its length
 b. extract its first two letters

In [4]:
#1. 
#Assume you have two lists a=[1,3,5,7] b=[2,4,6,8,10]  
#i.First task is to create a list which has elements from both the list & name it 'ab'  
#ii.Write a function which can reverse the elements of ab



a=[1,3,5,7]
b=[2,4,6,8,10] 

ab=a+b
ab.reverse()  #for reverse the list.
print("Reverse List:",ab)

Reverse List: [10, 8, 6, 4, 2, 7, 5, 3, 1]

In [17]:
#2.
#Can a list be converted into a set? Explain with the help of an example.
#Extract 3000 from the given list
#Y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]


y=[1,3,4,6,7,9,10, 4+7j, "Hello world", [2000,3000,1000]]
x=y[9]
print(x[1])
print(type([9]))
y[9].pop(1) #poping the element 1
print(y[9])

print(y)

3000
<class 'list'>
[2000, 1000]
[1, 3, 4, 6, 7, 9, 10, (4+7j), 'Hello world', [2000, 1000]]

In [46]:
#3. Extract '09' from this: G=["2022-09-03"]

G=["2022-09-03"]
y=G[0]
print(type(G))
print(y[5:7])

<class 'list'>
09

In [45]:
#.Write a code to add a key to a dictionary Use the given dictionary and add a key ------>
#(4:16) square_dictionary = {1:1, 2:4, 3:9}


d=dict()
for x in range(4,16):
    d[x]=x**2
print(d)

{4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [28]:
##(i)Count the occurence of "me" in the given string below. 
#(ii)Extract "python@gmail" str="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"



my_string ="Hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"

my_char = "me"

print(my_string.count(my_char))
print(my_string[56:68])

3
python@gmail

In [65]:
#Write the program to multiply the two lists Lists to perform multiplication:
#num_list_1 = [1, 2, 3, 4]
#num_list_2 = [0, 5, 2, 1]




num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]
multiply=[i1 * i2 for i1, i2 in zip(num_list_1,num_list_2)]
print("The multiply of List1 and List2 is:",multiply)

The multiply of List1 and List2 is: [0, 10, 6, 4]

In [63]:
#Write a program to perform following list operations on the list given below: 
    #a. Check the length of mix_list_1 
   # B. Concatenate the mix_list_1 and mix_list_2 
    #C. Repeat the mix_list_2 three times
    
    
list1 = ['edureka', 'python', 2019];
list2 = [1, 2, 3, 4, 5 ];

print("The length of list1 is:",len(list1))

list3=list1+list2
print("Concatenate of list1 and list2 is:",list3)

print(list2*3)

The length of list1 is: 3
Concatenate of list1 and list2 is: ['edureka', 'python', 2019, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# 8.Lists to perform operations: 
# mix_list_1 = ['Learn', 24, 'Blue', False, -8]
# mix_list_2 = [4, 7, 'Summer']

In [ ]:
#9.Write a program to perform following set operations:

#a. Union 
#b. Intersection 
#c. Set of all the elements of set A that are not in set B 
#d. Set of all the elements of set B that are not in set A
#e. Symmetric difference Use the below set:

#A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

#B = {3, 42, 51, 6, 7, 8, 54, 5}

In [21]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

D=(A.union(B))
print("The union of A and B is :",D)

E=(A.intersection(B))
print("The intersection of A and B is:",E)

print("all the elements of set A that are not in set B:",set(A)-set(B))
print("all the elements of set B that are not in set A:",set(B)-set(A))

F=A.symmetric_difference(B)
print("Symmetric difference of set A and set B is:",F)

The union of A and B is : {1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}
The intersection of A and B is: {3, 5, 6, 7}
all the elements of set A that are not in set B: {1, 2, 4, 71, 40, 87}
all the elements of set B that are not in set A: {8, 42, 51, 54}
Symmetric difference of set A and set B is: {1, 2, 4, 8, 40, 42, 71, 51, 54, 87}

In [ ]:
#10.Write the program to perform following manipulations:
#a. Add '7' to the given set 
#b. Remove '3' from a given set
#c. Clear the set Use the below set for manipulation
#num_set = {1, 2, 3, 4, 5, 6}

In [30]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
print("Added 7 in the set :",num_set)
num_set.remove(3)
print("Remove 3 in the set : ",num_set)
num_set.clear()

Added 7 in the set : {1, 2, 3, 4, 5, 6, 7}
Remove 3 in the set :  {1, 2, 4, 5, 6, 7}

In [ ]:
#11.Replace the elements in the given tuple:
#a. Replace '2' with '3' 
#b. Replace 'True' in first element with 'False' Use the tuple below:
#mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [47]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)
q=list(mix_tuple)
print(q)
q[1]=3
print(q)
print("Replaced 2 with 3",)


q[0][2]=False
print(q)
print("Replaced True with False")

[['a', 1, True], 2, 'Science', -5]
[['a', 1, True], 3, 'Science', -5]
Replaced 2 with 3
[['a', 1, False], 3, 'Science', -5]
Replaced True with False

In [ ]:
#12.Write a code to perform operations on tuple:
#a. Check the length of num_tuple 
#b. Concatenate the num_tuple and mix_tuple 
#c. Repeat the mix_tuple two times Tuples to perform operations:
#num_tuple = (4, 4, 8)
#mix_tuple = 'John', 5, -2

In [60]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2
print("The length of num_tuple is:".format(num_tuple),len(num_tuple))
concatenate=num_tuple+mix_tuple
print("The concatenate of both tuple is:",concatenate)
print("Repeat the mix_tuple two times Tuples to perform operations:",mix_tuple*2)

The length of num_tuple is: 3
The concatenate of both tuple is: (4, 4, 8, 'John', 5, -2)
Repeat the mix_tuple two times Tuples to perform operations: ('John', 5, -2, 'John', 5, -2)

In [ ]:
#13.Write a program to perform following built-in list operations:
#a. Min(list) 
#b. Max(list) 
#c. Sort the elements (use sort() and sorted() function)
#d. Create a copy of a list 
#e. Remove element '5' from the list
#Use the below list
#num_list = [4, 5, 7, -2, 0, 1]

In [73]:
num_list = [4, 5, 7, -2, 0, 1]
print("MIN:",min(num_list))
print("Max:",max(num_list))
num_list.sort()
print("sort:",num_list)
print("Sorted:",sorted(num_list))
num_list.remove(5)
print("Remove 5:",num_list)

MIN: -2
Max: 7
sort: [-2, 0, 1, 4, 5, 7]
Sorted: [-2, 0, 1, 4, 5, 7]
Remove 5: [-2, 0, 1, 4, 7]

In [ ]:
#14.Write a code to retrieve elements from a list
#a. First element 
#b. Second last element 
#c. First three elements 
#d. Slice the list from 1st index till the last index with an increment of an index by 2 Use the below list:
#mix_list = ['Python', 1, 2, 3, 'Data', True]

In [ ]:
mix_list = ['Python', 1, 2, 3, 'Data', True]